{% extends 'layout.html' %}
{% from 'macros.html' import render_field with context %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    <!-- CSRF token -->
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create new account</legend>
      <!-- Username -->
      {{ render_field(form.username) }}
      <!-- Email -->
      {{ render_field(form.email) }}
      <!-- Password -->
      {{ render_field(form.password) }}
      <!-- Confirm the Password -->
      {{ render_field(form.confirm) }}
    </fieldset>
    <div class="form-group">
      {{ form.submit(class='btn btn-outline-info') }}
    </div>
  </form>
</div>
<div class="border-top pt-3">
  <small class="text-muted">
    Already Have An Account?<a class='ml-2' href="{{ url_for('auth.login') }}">Sign In</a>
  </small>
</div>
{% endblock content %}
