{% extends 'layout.html' %}
{% from 'macros.html' import render_field with context %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      {% if current_user.about_me %}
        <p class="text-secondary">About me: {{ current_user.about_me }}</p>
      {% endif %}
      <p class="text-secondary">Last seen on: {{ current_user.last_seen }}</p>
      <p>{{ current_user.followers.count() }} followers, {{ current_user.followed.count() }} following.</p>
    </div>
  </div>
  <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
      <!-- CSRF token -->
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
        <!-- Username -->
        {{ render_field(form.username) }}
        <!-- About Me -->
        {{ render_field(form.about_me) }}
        <!-- Email -->
        {{ render_field(form.email) }}
        <!-- Profile Picture -->
        <div class="form-group">
          {{ form.picture.label() }}
          {{ form.picture(class='form-control-file') }}
          {% if form.picture.errors %}
            {% for error in form.picture.errors %}
              <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class='btn btn-outline-info') }}
        <a class="btn btn-outline-info" href="{{ url_for('users.user_posts', username=current_user.username) }}" role="button">Posts</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
