{% extends 'layout.html' %}
{% from 'macros.html' import field_info with context %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      {% if user.about_me %}
        <p class="text-secondary">About me: {{ user.about_me }}</p>
      {% endif %}
      <p class="text-secondary">Last seen on: {{ user.last_seen }}</p>
    </div>
  </div>
</div>
{% endblock content %}
