{% extends 'layout.html' %}
{% from 'macros.html' import field_info with context %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    <!-- CSRF token -->
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">{{ legend }}</legend>
      <!-- Title -->
      {{ field_info(form.title) }}
      <!-- Content -->
      {{ field_info(form.content) }}
      <!-- Tags -->
      {{ field_info(form.tags) }}
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}
